{% extends "template/header_footer.html" %}
  {% block content %}
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="#">News</a>
      <a class="p-2 text-muted" href="#">Countries</a>
      <a class="p-2 text-muted" href="#">Technology</a>
      <a class="p-2 text-muted" href="#">Design</a>
      <a class="p-2 text-muted" href="#">Business</a>
      <a class="p-2 text-muted" href="#">Reviews</a>
      <a class="p-2 text-muted" href="#">Social networks</a>
      <a class="p-2 text-muted" href="#">Travel</a>
    </nav>
  </div>
  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">

    <div class="row">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 font-italic">Personal Sharing</h1>
      <p class="lead my-3"> is a project that allows you to interact with devices in rented property via phone.</p>
      <div class="collapse" id="collapseExample">
          Personal sharing system uses software and hardware installed in cars and houses in combination with your phone application called ‘Personal Sharing’, which allows you to control smart devices, connected to the system, by your phone.
      </div>
      <p class="lead mb-0"><a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
    <div class="col-md-6">
      <svg width="110px" height="145px" viewBox="-1 0 17 14" class="bi bi-phone col-4 d-none d-sm-inline d-md-none d-lg-inline" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M11 1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
        <path fill-rule="evenodd" d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
      </svg>
      <svg width="50px" height="50px" viewBox="2 0 16 14" class="bi bi-broadcast col-3 d-none d-sm-inline d-md-none d-lg-inline" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 0 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707z"/>
      <path d="M10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
      </svg>
      <svg width="150px" height="150px" viewBox="0 1 16 14" class="bi bi-house d-none d-sm-inline d-md-none d-lg-inline" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
      <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
      </svg>
    </div>
  </div>
</div>
  <div class="row mb-4">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative back">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-color">Rent</strong>
          <h3 class="mb-0 text-color">Flats and Houses</h3>
          <div class="mb-1 text-color">More than {{ flatCount }} flats are available right now!</div>
          <p class="card-text mb-auto text-color">Take a look at the available flats with smart devices plugged-in in your country or city.</p>
          <a href="#" class="stretched-link text-color">Continue reading</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static back2">
          <strong class="d-inline-block mb-2 text-color">Rent</strong>
          <h3 class="mb-0 text-color">Vehicle</h3>
          <div class="mb-1 text-color">More than {{ carCount }} are available right now!</div>
          <p class="mb-auto text-color">Look at the cars with smart devices near you, or order a cab to your destination point and take a ride with pleasure.</p>
          <a href="#" class="stretched-link text-color">Continue reading</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        How to use it
      </h3>

      <div class="blog-post">
        <h2 class="blog-post-title">Who can use Personal Sharing?</h2>
        <p class="blog-post-meta">Updated in October 30, 2020 by <a href="#">Administration</a></p>

        <p>There are two types of users that able to use our system, ordinary users and companies.</p>
        <hr>
        <p>Ordinary users can rent property from companies that are Personal Sharing partners. Person need to create user profile first to gain an accsess to all available property.</p>
        <blockquote>
          <p>Companies can offer their property by posting advertisment on this site. <strong>Only autorized company account can post propositions.</strong> That demand will guarantee users safety.</p>
        </blockquote>
        <p>To get autorized account you need to perform next few simple steps:</p>
        <ol>
          <li>Register simple user account.</li>
          <li>Use this link and fill the form - <a href='#'>Company registration form.</a></li>
          <li>Wait between 1 to 5 working days, you will get a ressponce for your request on mail or on site(or both).</li>
          <li>If you got there, feel free to post some advertisments using <a href='#'>this instruction.</a>
        </ol>
      </div><!-- /.blog-post -->

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">Why should i trust you?</h4>
        <p class="mb-0">Our team make alot of effort to protect users from scam. We carefully check all the documents, companies need to wage business. Our partners - trusted companies, already gained client's credit and passed document control.</p>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Our partners</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="https://www.uber.com/">Uber</a></li>
          <li><a href="https://parklane.ua/eng">Park Lane</a></li>
          <li><a href="https://www.rent.com/">Rent.com</a></li>
          <li><a href="https://www.rentalcars.com/en">Rentalcars</a></li>
          <li><a href="https://www.enterprise.com/">Enterprice.com</a></li>
        </ol>
      </div>
    </aside>
</main><!-- /.container -->
{% endblock %}